.wapper {
  height: 80vh;
  border-radius: 10px;
  box-shadow: 5px 5px #ccc;
  border: 1px solid black;
  background: antiquewhite;
}
.info {
  padding: 20px 0px 10px;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid black;
}
.textInput {
  width: 250px;
  height: 50px;
  border: none;
}
